
 /* Aspectos generales*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

 html {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  color: rgb(23, 23, 23);
}

body, html {
  overflow-x: hidden;
}



/* Header */


.hero {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(12,3,51,0.3), rgba(12,3,51,0.3));
  position: relative;
  padding: 0 5%;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

nav {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav .logo {
  width: 130px;
  height: auto;
 
}

nav a {
  text-decoration:none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin: 14px;
  
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  padding: 8px 16px;
  border-radius: 99px;
  

}

nav ul li a .is-active, nav ul li a:hover {
  background-color: red;
 
  

}

nav ul {
  display: none;
  flex: 1 1 0%;
  justify-content: flex-end;
  margin: 0 -16px;
}



.hamburger {
  display: block;
  position: relative;
  z-index: 2;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;



}

.hamburger span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background-color: #fff;
  border-radius: 6px ;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;

}

.hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
}

.hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

.hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
 
}

.hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 1;
  padding-top: 35vh;
  background-color: rgba(0, 0, 0, 0.95);
  transition: 0.4s;
  list-style-type: none;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav a{
  
    display: block;
    margin: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    text-align: center;
  
  padding: 12px 16px;
  border-radius: 99px;
   

    color: #fff;
    text-decoration: none;
    
  
}

.content {
  text-align: center;
}

.mobile-nav a:hover{
  
  background-color: red;

}

.content {
text-align: center;
}

.content h1 {
  font-size:150px;
  color: #fff;
  font-weight: 700;
  transition: background 6s ease-in-out;
  


}

.hero .content h1:hover {
  background-image:linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(13,13,231,1) 0%, rgba(245,30,2,1) 100%) ;
  /*-webkit-background-clip: text;*/
  -webkit-text-fill-color: transparent;
  

}

.hero object {
  pointer-events: none;
}

.hero h3{
  width: 35%;
  text-align: justify;
}

.hero h3 span{
 color: red;
}

.content a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
  
}

.content a:hover {
  background-color: red;
  
}

.back-video {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/* Header responsive */

@media (min-aspect-ratio: 16/9) {
  .back-video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .back-video {
    width: auto;
    height: 100%;
  }
}

@media(min-width:981px) {
  .hamburger {
    display: none;
  }

  .mobile-nav {
    display: none;
  }

  nav ul {
    display: flex;
  }


  .content h1+h1{
    display: none;
  }
}

@media(max-width: 981px) {

  .content>h1{
   display: none;
  }

  .content h1+h1{
    display:block;
  }
 
}





/* index.html - Portada body*/

.introduction {
  width: 80%;
max-width: 2000px;
  margin: 80px auto;
}

.title {
  text-align: center;
  font-size: 2rem;
  color: black;
}

.line {
  width: 150px;
  height: 4px;
  background: red;
  margin: 10px auto;
  border-radius: 5px;
}

.row {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;



  
}

.row .col img {
  width: 100%;
  margin-top: 40px;
  clip-path: polygon(0% 0%, 50% 25%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
  /*clip-path: polygon(0% 0%, 50% 25%, 100% 0%, 100% 75%, 50% 100%, 0% 75%);
   clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%)*/
  animation-name:arrow;
  animation-duration:1s;
  animation-timing-function:linear;
  animation-delay:0s;
  animation-iteration-count:infinite;
  animation-direction:normal;
  animation-play-state:running;
  position: relative;
  
}

@keyframes arrow
	{
	0%   {bottom:0;}
	75% {bottom:30px;}
	100% {bottom:0;}
	}

.row .col  {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 15px 20px -15px rgba(0, 0, 0, 0.1), 0 55px 50px -35px rgba(0, 0, 0, 0.1), 0 85px 60px -25px rgba(0, 0, 0, 0.1),0 -20px 60px -25px rgba(0, 0, 0, 0.1), 20px 0px 60px -25px rgba(0, 0, 0, 0.1), -20px 0px 60px -25px rgba(0, 0, 0, 0.1) ;
  padding: 5%;

  
}

.row .col:hover {
  transition: 1s ease;
  transition-delay: 0.15s;
  transition: box-shadow 0.3s, transform 0.3s;
  box-shadow: 0 5px 3px -5px rgba(0, 0, 0, 0.3), 0 2px 8px -5px rgba(0, 0, 0, 0.3);
  transform: translateY(-2px);

  

}

.row .col:hover img {

  transition: 0.4s ease;

  


  
  
}

.row .col:not(:hover) img {

  transition: 0.4s ease;
  
  
}

.row .col:not(:hover) {
  transition: 0.4s ease;
}

.introduction .row{
  margin-top: 5%;

}

.introduction h4 {
  font-size: 1.5rem;
  margin: 20px auto;
}

.introduction p {
  padding: 0px 40px;
}

.introduction a {
  margin: 30px;
  color: black;
  font-size: 16px;
  border: 2px solid black;
  padding: 8px 40px;
  border-radius: 50px;
  text-decoration: none;
 
}

.introduction a:hover {
  color: #fff;
  background-color: red;
  border: 2px solid #fff;
}

/* index.html -Portada body responsive*/

@media(max-width:900px) {

  .row {
    flex-direction: column;
  }

  .row .col {
    margin: 20px auto;
  }
  .col img {
    max-width: 90%;
  }
 
}


/* Ultima Portada index.html*/

.explora {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(resources/images/superilla2.jpg) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}


.explora .content h1 {
  font-size: 6rem;
  margin: 30px;
  margin-bottom: 0;
  

}

.explora .content p{
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 30px;
}


.explora .content .line {
  margin-bottom: 50px;
  width: 40%;
}

.explora .content .logo2 {
  width: 150px;
  height: auto;

  animation: rotate 4s infinite;
  
}

@keyframes rotate {
  0% {
    transform: translate(-10vw) rotate(-45deg);
  }
  50% {
    transform:  translate(10vw) rotate(450deg);
  }
  100% {
    transform: translate(-10vw) rotate(-45deg);
  }


}


/* index.html -Ultima portada responsive*/

@media(max-width:900px) {

  .explora .content>h1{
    display: block;
    padding-top: 80px;
   }

   @keyframes rotate {
    0% {
      transform: translate(-10vw) rotate(-25deg);
    }
    50% {
      transform:  translate(10vw) rotate(250deg);
    }
    100% {
      transform: translate(-10vw) rotate(-25deg);
    }
  
  
  }



  

}

/*Presentacio.html 4imatges contingut*/
.presentacioimatges {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

.presentacioimatges .row {
  display: flex;
  align-items: center;
  width: 80%;
  
}

.presentacioimatges .galeriaimg {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
}

.colcontent {
  padding: 60px;
  width: 40%;
}

.colcontent p {
  padding: 0;
  margin: 30px auto;
}
.colcontent h1 {
  font-size: 3rem;
}

.colcontent .line {
  margin-left: -1px;
  margin-bottom: 40px;
}
.colimage {
  width: 60%;
}


.galeriaimg img {
  width: 350px;
  margin: 20px;
  

}



.colcontent a {
  margin-top: 40px;
  color: #fff;
  font-size: 16px;
  border: 2px solid #fff;
  padding: 8px 40px;
  border-radius: 50px;
  text-decoration: none;
  background-color: red;
}

.colcontent p{
  line-height: 1.5;
}

/* 4imatges responsive */

@media(max-width:900px) {
  .presentacioimatges .colcontent {
    width: 100%;
    padding-top: 0;
  }

  .galeriaimg {
    margin-top: 30px;
    justify-content: center;
    align-items: center;
  }

  .galeriaimg img {
    width: 150%;
    
  }

  
}

/*Text sota 4imatges presentacio*/

.explicaciopresentacio {
  text-align: justify;
  padding: 0;
  margin: 100px 10%;
}

.explicaciopresentacio p{
  margin-top: 30px;
  line-height: 1.5;
  
}

@media(max-width:900px) {
  .explicaciopresentacio {
    margin: 30px 10%;
  }
}



/*Coneixbcn.html presentacio*/

.container {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(resources/images/coneixbcn2.jpg);
  background-size: cover;
  padding-left: 8%;
  padding-right: 8%;
}

.rowconeix {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.colconeix {
  width: 60%;
}

.colconeix img{
  width: 180px;
  padding-top: 50px;
  z-index: 1;

}

.colconeix h1 {
  color: #fff;
  font-size: 6rem;

}

.colconeix p {
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;

}

.colconeix a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
  padding: 14px 70px;
  border-radius: 50px;
  margin-top: 20px;
}

.card {
  width: 235px;
  height: 270px;
  display: inline-block;
  border-radius: 10px;
  padding: 15px 21px;
  cursor: pointer;
  margin: 25px;
  background-position: center;
  background-size: cover;
  transition: transform 0.5s;
  position: relative;
}

.card a{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.card h5 {
  color: #fff;
  text-shadow: 0 0 5px #999;
}

.card p {
  color: #fff;
  font-size: 11px;
  text-shadow: 0 0 15px #000;
  margin-top: 5px;
}
.card1 {
  background-image: url(resources/images/card1.jpg);
}

.card2 {
  background-image: url(resources/images/card2.jpeg);
}

.card3 {
  background-image: url(resources/images/card3.jpg);
}

.card4 {
  background-image: url(resources/images/card4.jpg);
}

.card:hover {
  transform: translateY(-10px) !important;
 transition-duration: 500ms !important;
}
.colconeix2 {
  width: 40%;

}

.card5 {
  background-image: url(resources/images/card5.jpg);
}

.card6 {
  background-image: url(resources/images/card6.jpg);
}
.card7 {
  background-image: url(resources/images/card7.jpg);
}
.card8 {
  background-image: url(resources/images/card8.jpg);
}
.card9 {
  background-image: url(resources/images/card9.jpg);
}

.card10 {
  background-image: url(resources/images/card10.jpg);
}
.card11 {
  background-image: url(resources/images/card11.jpg);
}
.card12 {
  background-image: url(resources/images/card12.jpg);
}



/*Responsive*/

 
@media screen and (max-width: 1715px) {

  .container .rowconeix {
    display: block;    
    text-align: center;
   
    
  }

  .card {
    padding: 15px 36px;
  }

  .container {
    height: fit-content;
    padding-bottom: 60px;
  }

  .colconeix h1, p, a{
   padding: 15px;
  }





.colconeix2 {
    width: 100%;

    

  }

  .container .colconeix {
    width: 100%;
    
    
    
    
  }

  .colconeix {
    padding-top: 25%;
    margin-bottom: 30px;
  }

 

  

}

@media (max-width: 768px) {

  .colconeix2 .card {
   
    margin-left: 0;
    text-align: center;
 
  }

  .container {
    height: fit-content;
   }


}

@media (max-width: 600px) {
  .colconeix2 .card {
    width: 100%;
  }

  .colconeix h1{
    padding: 0;
    padding-top: 50px;
    font-size: 4rem;
  }
}

  
/*Coneixbcn.html title + carousel */

.carousel .title {
  margin: 80px auto;
 
}

.container2 {
  width: 100%;
  padding: 20px;
  margin-bottom: 80px;
}

.container2 .main-card {
  width: 200%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  transition: all 1s ease;

}

#two:checked ~ .main-card {
  margin-left: -100%;
}

.main-card .cards {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
 

}

.cards a {
  text-decoration: none;
  list-style-type: none;
  
  
}
.button {
  display: flex;
  margin: 20px;
  justify-content: center;

}

.button label {
  height: 15px;
  width: 15px;
  background: red;
  margin: 0 4px;
  border-radius: 20px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.button label.active {
  width: 35px;

}

#one:checked ~ .button label.one {
  width: 35px;
}

#two:checked ~ .button label.two {
  width: 35px;
}

#two:checked ~ .button label.one {
  width: 15px;
}

#one:checked ~ .button label.two {
  width: 15px;
}

input[type="radio"] {
  display: none;
}

/*Responsive*/

@media (max-width: 768px) {

  .container2 .card {
    width: calc(50% -10px);
 
  }
}

@media (max-width: 600px) {

  .container2 .card {
    width: 100%;
 
  }
}

/*info.html list*/

.copy {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(resources/images/cr2.png) ;
  background-position: center;
  background-size:cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}



.copy .contentcopy img {
  width: 140px;
  margin-top: 60vh;

}





.infolist {
  width: 95%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 80px;
  margin-bottom: 80px;
}

dl {
  margin-bottom: 2.5rem;
}

dt {
  font-size: 1.2rem;
  font-weight: 700;
  color: rgb(93, 95, 121);
  
}

dt::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: rgb(240, 93, 80);
  display: inline-block;
  vertical-align:baseline;
  margin-right: 1.2rem;

}

dd {
  color: rgb(93, 95, 121);
  font-size: 1rem;
  margin-top: 5px;
  margin-left: 2.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
 
}

dl p{
  margin-top: 0;
  line-height: 1.5;
}
dl a {
  color: rgb(245, 157, 35);
  text-decoration: none;
  font-size:13px;

}

/*Responsive info*/
@media(max-width: 768px) {
  .copy {
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(resources/images/crmobile.png) ;
  }
}

/*detall.html*/

.detall {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(resources/images/sf.jpg) ;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detall .contentdetall h1 {
  font-size: 6rem;
  color: #fff;
  margin-top: 50%;
  
  

}

.detall .contentdetall img {
  width: 650px;
}

.detall .contentdetall h1:hover {
  -webkit-text-stroke: 0.5px #fff;
  color: transparent;
}

.detall .contentdetall .line {
  margin-bottom: 50px;
  width: 40%;
}

.detallcontainer {
  width: 95%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px;
}

.onzeFebrerContent {
  text-align: left;
  margin-top: 1.4rem;
}

.onzeFebrerContent .images {
  text-align: center;
}

.onzeFebrerContent .images img{
margin-bottom: 30px;

 padding: 0.5%;
 height: auto;

}
.onzeFebrerContent p{
  color: rgb(93, 95, 121);
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.onzeFebrerBqContent {
  background-color: rgb(227, 228, 230);
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.onzeFebrerBqContent p{
  color: rgb(0, 0, 0);
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: left;
  margin-bottom: 5px;
}


.rectangle {
  width: 2.4rem;
  height: 6px;
  background-color: rgb(240, 93, 80);
  display: inline-flex;
}

.rectangle + p {
  font-size: 13px;
  display: inline-flex;
  margin-left: 10px;
}

.onzeFebrerContent figure {
  margin: auto;
  margin-bottom: 4.5rem;
 width: fit-content;

 
}

.onzeFebrerContent figcaption {
  font-size: 13px;
  color: rgb(93, 95, 121);
  text-align: left;
}

ol {
  counter-reset: li; 
  list-style: none; 
  padding: 0;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  margin-bottom: 3rem;
}

ol li {
  position: relative;
  display: block;
  padding: .4em .4em .4em .8em;
  margin: .5em 0 .5em 2.5em;
  background: rgb(227, 228, 230);
  color: #444;
  text-decoration: none;
  transition: all .3s ease-out;
  
}

ol li:hover {background: #DCDDE1;}    
   
ol li:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background:rgb(240, 93, 80);
  color: white;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}

ol li:after {
  position: absolute;
  content: "";
  border: .5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -.5em;
  transition: all .3s ease-out;
}

ol li:hover:after {
  left: -.5em;
  border-left-color: rgb(240, 93, 80);
}
 
/*Responsive*/

@media screen and (max-width:600px) {

  .onzeFebrerContent figure iframe {
      width: 92vw;
      height: 53vw;
  }
}


/* Footer */

footer {
  background-color: #EBEBEB;
  width: 100vw;
  height: 100px;
  display: inline-flex;
  margin: 0;
  align-items: center;

}

footer .logo {
  width: 80px;
  height: auto;
  margin-left: auto;
}

footer ul {
  margin: auto;
  list-style-type: none;
}

footer li a {
  text-decoration: none;
  color: black;
  margin: 25px;
}

footer li a:hover {
  text-decoration: underline;
}

footer h3{
  text-align: justify;
  font-size: 16px;
}

footer h3 span{
 color: red;
}

@media screen and (max-width:768px) {
  footer {
    display: block;
    margin: 0;
    height: 230px;
  }

  footer .logo {
    padding-top: 10px;
    margin: auto;
  }

  footer li a {
    margin: 2px;

  }

  footer ul {
    padding-top: 30px;
    text-align: center;
  }

  footer h3{
    text-align: center;
    margin-bottom: 20px;
    
  }
}